<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="homeTeam">

  <button style=" margin-top:30px ; position:relative; left:70%;" ui-sref="" class="button button-royal"><!-- demande à rejoindre la team -->
    Postuler
  </button>
  <h3 style="padding-left: 20px"> Nom de la team </h3><!-- Nom de la team -->
  <div id="listStatsHome">
    <ul class="list">
      <!-- liste des joueurs de la team -->
      <div class="card">
        <div class="item item-text-wrap" style="background-color: #f0f0f0" ui-sref=""><!-- renvois à la page du player -->
          <!-- nom du player -->
        </div>
      </div>
    </ul>
  </div>
</div>

</body>
</html>
