<ion-view>
  <ion-header-bar class="bar-royal" id="header-bar">
    <h1 class="title">Monster E-Sport</h1>
  </ion-header-bar>
  <ion-content>

    <!--<div class="bar bar-header item-input-inset">-->
    <!--<label class="item-input-wrapper">-->
    <!--<i class="icon ion-ios-search placeholder-icon"></i>-->
    <!--<input type="search" placeholder="Search">-->
    <!--</label>-->
    <!--<button class="button button-clear">-->
    <!--Cancel-->
    <!--</button>-->
    <!--</div>-->
    <div id="search">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
      </div>

      <!-- Exemple de résultat -->
      <div class="card">
        <div class="item item-text-wrap" style="background-color: #f0f0f0" ui-sref=""><!-- renvois à la page du player trouvé -->
          <!-- nom du player -->
        </div>
      </div>
    </div>



  </ion-content>

  <!--<ion-pane>-->
  <!--<ion-header-bar class="bar-royal" id="header-bar">-->
  <!--<h1 class="title">Monster E-Sport</h1>-->
  <!--<button class="button button-stable">-->
  <!--<a ui-sref="begins">login</a>-->
  <!--</button>-->
  <!--</ion-header-bar>-->

  <!--<ion-nav-view></ion-nav-view>-->

  <!--<ion-tabs class="tabs-royal tabs-icon-top" id="menu-bar">-->
  <!--<ion-tab title="Begin"-->
  <!--ui-sref="begin" class="begin">-->
  <!--</ion-tab>-->

  <!--<ion-tab title="Home"-->
  <!--icon-on="ion-ios-filing"-->
  <!--icon-off="ion-ios-filing-outline"-->
  <!--ui-sref="home">-->

  <!--</ion-tab>-->
  <!--<ion-tab title="search"-->
  <!--icon-on="ion-ios-people"-->
  <!--icon-off="ion-ios-people-outline"-->
  <!--ui-sref="search">-->

  <!--</ion-tab>-->
  <!--<ion-tab title="Settings"-->
  <!--icon-on="ion-ios-gear"-->
  <!--icon-off="ion-ios-gear-outline"-->
  <!--ui-sref="settings">-->

  <!--</ion-tab>-->

  <!--</ion-tabs>-->

  <!--</ion-pane>-->
</ion-view>
