<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<!-- PAGE USER VISITEE !!!!!!!!!!!!!!!!!!!!!-->


<ion-nav-view>

  <div>
    <img id="gameCsgo" src="../../../img/csgo-img.png">
    <div>
      <img id="pp" src=""><!-- récup la photo de profil steam -->
    </div>
    <button style="position:relative; left:70%;" ui-sref="Recruter" class="button button-royal">
      Reorder
    </button>
    <div id="listStatsHome">
      <ul class="list">
        <!-- exemple de Stat -->
        <li class="item">
          <!-- Nom de la stat + Valeur -->
          Kill : 2
        </li>
      </ul>
    </div>

</ion-nav-view>



</body>
</html>
