<ion-view ng-controller="IdSteam">
    <div id="idSteam">
      <p>Rentrer votre steam id :</p>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <!-- Vérifier le steam id et le stocker-->
          <input type="text" ng-model="user.newIdSteam">
        </label>
        <button class="button button-small" ng-click="addId()">
          Valider
        </button>
      </div>
      <div id="imgidSteam">
        <img id="gameCsgo" src="../../../img/id-steam-img.png">
      </div>
    </div>


</ion-view>

