<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <ion-header-bar class="bar-royal" id="header-bar">
    <h1 class="title">Monster E-Sport</h1>
    <button ui-sref="begin" class="button button-stable">
      <a class="button icon-left button-clear button-dark">Back</a>
    </button>
  </ion-header-bar>
  <ion-view>
    <div id="choosePlateform">
      <p>Choisissez une Plateforme :</p>
      <button class="button button-full button-dark" ui-sref="step2">STEAM</button>
    </div>
    <div id="message">
      <p>D'autres Plateformes disponibles prochainement</p>
    </div>
  </ion-view>


</body>
</html>
