
  <ion-view>
    <div id="listStats">
      <ion-list>

        <!-- Utiliser le steam id pour récup les stats-->

        <!-- Chaque checkbox correspond à une stat et "Stat n°" est remplacé par le nom de la stat-->
        <ion-checkbox>Stat 1</ion-checkbox>
        <ion-checkbox>Stat 2</ion-checkbox>
        <ion-checkbox>Stat 3</ion-checkbox>

      </ion-list>
    </div>
    <center>
      <button id="saveButton" class="button button-royal" ng-click="">Save</button>
    </center>

  </ion-view>

