<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <ion-header-bar class="bar-royal" id="header-bar">
    <h1 class="title">Monster E-Sport</h1>
    <button ui-sref="step1" class="button button-stable">
      <a class="button icon-left button-clear button-dark">Back</a>
    </button>
  </ion-header-bar>
  <ion-view>
    <div id="choosePlateform">
      <p>Choisissez un jeu :</p>
      <div id="gamelist">
          <img id="gameCsgo" src="../../../img/csgo-img.png" ui-sref="step3">
          <!--<img id="gameRL" src="../../../img/rocket-league-img.jpeg" ui-sref="">-->
      </div>

    </div>
    <div id="message">
      <p>D'autres jeux disponibles prochainement</p>
    </div>


  </ion-view>

</body>
</html>
