<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <script src="../../../js/app.js"></script>
  <script src="../../../js/user.controller.js"></script>
</head>
<body ng-app="starter">
  <ion-header-bar class="bar-royal" id="header-bar">
    <h1 class="title">Monster E-Sport</h1>
    <button ui-sref="step1" class="button button-stable">
      <a class="button icon-left button-clear button-dark">Back</a>
    </button>
  </ion-header-bar>
  <ion-view ng-controller="IdSteam">
    <div id="idSteam">
      <p>Rentrer votre steam id :</p>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <!-- Vérifier le steam id et le stocker-->
          <input type="text" ng-model="user.newIdSteam">
        </label>
        <button class="button button-small" ng-click="addId()">
          Valider
        </button>
      </div>
      <div id="imgidSteam">
        <img id="gameCsgo" src="../../../img/id-steam-img.png">
      </div>
    </div>


  </ion-view>

</body>
</html>
