<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <ion-header-bar class="bar-royal" id="header-bar">
    <h1 class="title">Monster E-Sport</h1>
    <button ui-sref="step3" class="button button-stable">
      <a class="button icon-left button-clear button-dark">Back</a>
    </button>
  </ion-header-bar>
  <ion-view>
    <div id="listStats">
      <ion-list>

        <!-- Utiliser le steam id pour récup les stats-->

        <!-- Chaque checkbox correspond à une stat et "Stat n°" est remplacé par le nom de la stat-->
        <ion-checkbox>Stat 1</ion-checkbox>
        <ion-checkbox>Stat 2</ion-checkbox>
        <ion-checkbox>Stat 3</ion-checkbox>

      </ion-list>
    </div>
    <center>
      <button id="saveButton" class="button button-royal" ng-click="">Save</button>
    </center>

  </ion-view>

</body>
</html>
