<ion-view>

  <ion-header-bar class="bar-royal" id="header-bar">
    <h1 class="title">Monster E-Sport</h1>
  </ion-header-bar>

  <div class="home">
    <div class="row">
      <div class="col col-50 col-offset-25">
        <a ui-sref="player">
          <img class="teamOrPlayer" src="img/Mobile-HOME-PLAYER-ICON.jpg">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col col-50 col-offset-25">
        <a ui-sref="team">
          <img class="teamOrPlayer" src="img/Mobile-HOME-TEAM-ICON.jpg">
        </a>
      </div>
    </div>

  </div>

</ion-view>
