body {
  background-color: rgb(88, 88, 88);

}

.begin {
  display: none;
}

.pictureConnection {
  margin-top: 20%;
  margin-left:44.7%;
  width: 10%;

}

.home {
  padding-top: 25%;
}

.teamOrPlayer {
  width: 100% ;
  margin-top: 10%;
}

/**
  Formulaire Utilisateur
 */

#loginPlayer {
  display: none;
}

#choosePlateform {
  padding-top: 120px;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-align: center;
}

#message {
  padding-top: 50px;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-align: center;
}

#gameCsgo {
  width: 100%;
}

#gameRL {
  width: 100%;
}

#listStats {
  padding-top: 120px;
}

#saveButton {
  margin-top: 20px;
}
/*#buttonRegister {*/
  /*background-color: #886aea;*/
  /*color: #ffffff;*/
/*}*/

