body {
  background-color: rgb(88, 88, 88);

}

.begin {
  display: none;
}

.pictureConnection {
  margin-top: 20%;
  margin-left:44.7%;
  width: 10%;

}

.home {
  padding-top: 25%;
}

.teamOrPlayer {
  width: 100% ;
  margin-top: 10%;
}

/**
  Formulaire Utilisateur
 */

#loginPlayer {
  display: none;
}

#choosePlateform {
  padding-top: 120px;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-align: center;
}

#message {
  padding-top: 50px;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-align: center;
}

.p {
  padding-top: 50px;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-align: center;
}

#gameCsgo {
  width: 100%;
}

#gameRL {
  width: 100%;
}

#listStats {
  padding-top: 120px;
}

#saveButton {
  margin-top: 20px;
}

#idSteam {
  padding-top: 120px;
}

#imgidSteam {
  padding-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#listStatsHome {
  margin-top: 25px;
}

#modif {
  margin-top: 100px;
}

#listModif {
  margin-top: 70px;
}

#search {
  margin-top: 51px;
}
/*#buttonRegister {*/
  /*background-color: #886aea;*/
  /*color: #ffffff;*/
/*}*/

